
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link rel="stylesheet" href="~/bower_components/bootstrap/dist/css/bootstrap.min.css" />
</head>
<body>

    <script src="~/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="~/bower_components/tether/dist/js/tether.js"></script>
    <script src="~/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/bower_components/angular/angular.min.js"></script>
    <script src="~/Scripts/Angular/app.module.js"></script>
    <script src="~/Scripts/Angular/Service/Counter.Service.js"></script>
    <script src="~/Scripts/Angular/Controller/Counter.Controller.js"></script>

    <div ng-app="App" ng-controller="CounterController as model" ng-init="model.Initialise()"> 
        <br />
        <br />
        <div class="row">
            <div class="col-sm-6">
                Count: <span ng-bind="model.NumberOfClicks"></span>
            </div>
            <div class="col-sm-6">
                <button class="btn btn-outline-primary" ng-click="model.Create()">Create</button>
            </div>
        </div>
    </div>
</body>
</html>
